/* Write your CSS code here */
.blog-info {
  font-size: 12px;
  width: 60vw;
  margin-left: 130px;
}
.blog-details-title {
  font-size: 20px;
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-family: 'Roboto';
}
.author-details {
  display: flex;
}
.author-pic {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.details-author-name {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #8e8e8e;
}
.blog-image {
  height: 50%;
  width: 100%;
}
.blog-content {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #2f4f4f;
  text-align: left;
}
.blog-container {
  text-align: center;
}
